*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{      
    width: 900px;
    margin: auto;
      
}
header{
    text-align: center;
    font-family: 'Oi', cursive;
    color: white;
    padding: 30px;    
    background-color: cornflowerblue;
}
.container::after{
    content: "";
    display: table;
    clear: both;
}
main{
    background-color: cornflowerblue;
    height: 810px;
}
/** usare position per sistemare i quadrati */
.card{
    width: 200px;
    height: 250px;
    float: left;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-image: url(img/pattern.png);
    background-size: contain;
}
footer{
    padding: 10px;
    text-align: center;
    font-family: 'Oi', cursive;
    color: black;
    background-color: cornflowerblue;
}
img{
    width: 100%;
    padding-top: 10px;
    border-radius: 10px;
    background-color: white;
    background-size:cover;
    display: none;
}
/*bisogna modificare per coprire tutto con il bianco*/
h3{
    font-family: 'Oi', cursive;
    display: none;
}
/*comparsa oggetti*/
div.tram:hover img{
    display: inline-block;
}
div.trattore:hover img{
    display: inline-block;
}
div.sottomarino:hover img{
    display: inline-block;
}
div.mongolfiera:hover img{
    display: inline-block;
}
div.bicicletta:hover img{
    display: inline-block;
}
div.barca:hover img{
    display: inline-block;
}
/* comparsa nomi*/
div.barca:hover h3{
    display: block;
    text-align: center;
    color: crimson;
}
div.bicicletta:hover h3{
    display: block;
    text-align: center;
    color: gold;
}
div.mongolfiera:hover h3{
    display: block;
    text-align: center;
    color: chartreuse;
}
div.sottomarino:hover h3{
    display: block;
    text-align: center;
    color: brown
}
div.tram:hover h3{
    display: block;
    text-align: center;
    color: blue;
}
div.trattore:hover h3{
    display: block;
    text-align: center;
    color: blueviolet;
}